<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to AllegroTrending!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <style>
        html {
            min-width: 300px;
        }
        body {
            background-color: lightgrey;
        }
        .theme {
            background-color: #ff751a;
            color: white;
        }
        .loginBox {
            width: 300px;
        }
    </style>
</head>
<body style="height: 100%">
    <div class="jumbotron text-center theme">
        <h1>Welcome to AllegroTrending!</h1>
        <p>Track offers and don't miss the chance</p>
    </div>
    <div class="container text-center loginBox">
        <a class="btn btn-default theme" href="/login">Log in with Allegro</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>
